
<h1>Sobre nosotros</h1>
<p>Somos una galeria de fotos desde 1980, nos enfocamos en exponer los trabajos de personas amateur, para así darles la oportunidad de que sean descubiertas.</p>
<%= link_to "Home", root_path, class:"nav-link" %>
